﻿
@{
    ViewBag.Title = "Emissoras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="text-center">Lista de Emissoras</h2>

    <div class="text-right pb-2">
        <button class="btn btn-primary" id="abrir-modal-emissora" data-toggle="modal" data-target="#adiciona-emissora">Adicionar Emissora</button>
    </div>
    <table id="tbl-emissoras" class="table table-striped table-bordered ui-sortable-handle text-center" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <div class="modal fade" id="adiciona-emissora" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adicionar Emissora</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nome-emissora">Nome da Emissora</label>
                        <input type="text" class="form-control" name="nome-emissora" id="nome-emissora" placeholder="Emissora A" pattern="^[a-zA-Z0-9]+$">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="adiciona">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="criar-audiencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adicionar Audiencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="pontos-audiencia">Pontos da Audiência</label>
                        <input type="number" class="form-control" name="pontos-audiencia" id="pontos-audiencia">
                    </div>

                    <div class="form-group" id="div-emissora">
                        <label for="emissora">Emissora</label>
                        <input type="number" class="form-control" name="emissora" id="emissora">
                    </div>

                    <div class="form-group date">
                        <label for="datepicker">Pontos da Audiência</label>
                        <input type="datetime-local" class="form-control" id="data_hora" style="width: 300px;" placeholder="Escolha a data">
                    </div>
                    <span class="alert-success" id="sucesso-aud">Audiencia Adicionada</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" disabled id="adiciona-audiencia">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-detalhes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="detalhe-nome-emissora"></label>
                    <div id="detalhe-audiencia"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/emissora/emissoraJs.js"></script>