﻿
.abrir-modal-emissora {
    width: 160px;
    /* max-width: 200px;*/
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
